<html>
  <head>
    <style></style>
  </head>
  <body>
    <p>Hello, {{username}}!</p>
    <p>Here is the link to reset your password:</p>
    <a href="{{link}}">Click Here</a>
    <p>Sincerely, EasyRent</p>
  </body>
</html>